body {
  letter-spacing: 0.3px;
}

.theme-dark {
  --background-primary: #181510;
  --background-secondary: #1f1d1a;
  --background-secondary-alt: #1f1f1f;
  --background-modifier-form-field: #1f1f1f;

  --text-normal: #dfcfaf;
  --text-muted: #bfaf9f;
  --text-accent: #ffaf00;

/*不稳定的类*/
  --code-color: #dfdfdf;
}

.theme-light {
  --background-primary: #efedea;
  --background-secondary: #dfddda;
  --background-secondary-alt: #dfddda;
  --background-modifier-form-field: #dfddda;

  --text-normal: #1f1d1a;
  --text-muted: #2f2d2a;
  --text-accent: #7f4f00;

/*不稳定的类*/

  --code-color: #1f001f;
}

/*不稳定的类*/

.cm-hmd-codeblock {
  color: var(--code-color);
}

.cm-inline-code {
  background-color: #af7f3f1f !important;
  color: var(--text-accent) !important;
}