body {
  letter-spacing: 0.3px;
}

.theme-dark {
  --accent-h: 41;
  --accent-s: 100%;
  --accent-l: 20%;
  --background-primary: #181510;
  --background-secondary: #1f1d1a;
  --background-secondary-alt: #2f2d2a;
  --background-modifier-form-field: #1f1f1f;
  --code-background: #2f2d2a;

  --text-normal: #dfcfaf;
  --text-muted: #bfaf9f;
  --text-accent: #ffaf00;

  --code-color: #dfdfdf;
}

.theme-light {
  --accent-h: 37;
  --accent-s: 100%;
  --accent-l: 15%;
  --background-primary: #efeadf;
  --background-secondary: #dfdacf;
  --background-secondary-alt: #fffaef;
  --background-modifier-form-field: #dfdacf;
  --code-background: #fffdfa;

  --text-normal: #1f1d1a;
  --text-muted: #2f2d2a;
  --text-accent: #7f4f00;

  --code-color: #1f001f;
}

/* 不稳定的类 */

pre code,         /* 阅读状态下的代码块 */
.cm-hmd-codeblock /* 编辑状态下的代码块 */
{
  color: var(--code-color) !important;
}

.cm-inline-code,  /* 编辑状态下的行内代码块 */
p code            /* 阅读状态下行内代码块 */
{
  background-color: #af7f3f1f !important;
  color: var(--text-accent) !important;
}